@model Uspevaemost.Models.Subject

@{
    ViewData["Title"] = "Edit";
}

<h1>Редактировать</h1>

<h5>@ViewBag.Message</h5>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdnameSubject" />
            <div class="form-group">
                <label asp-for="NameSubject" class="control-label"></label>
                <input asp-for="NameSubject" class="form-control" />
                <span asp-validation-for="NameSubject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fioprepod" class="control-label"></label>
                <input asp-for="Fioprepod" class="form-control" />
                <span asp-validation-for="Fioprepod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
