@model Uspevaemost.Models.Academgroup

@{
    ViewData["Title"] = "Create";
}

<h1>Добавление группы</h1>

<h5>@ViewBag.Message</h5>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Shifr" class="control-label"></label>
                <input asp-for="Shifr" class="form-control" />
                <span asp-validation-for="Shifr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Godpostup" class="control-label"></label>
                <input asp-for="Godpostup" class="form-control" />
                <span asp-validation-for="Godpostup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
